.image {
    float: left;
    margin-right: 10px;
}

.keywords {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

.social {
    text-align: right;
    margin: -70px 0 15px 0;
}

.news {
    display: inline-block;
    background: rgba(160, 160, 160, 0.1);
    color: black;
    margin-top: 12px;
}

    .news:hover {
        background: lightgrey;
        text-decoration: none;
    }

.titreNews {
    font-size: 16px;
    font-weight: bold;
}

.lienNews {
    color: black;
    margin: 0;
    padding: 0;
}

    .lienNews:hover {
        text-decoration: none;
    }

.templateTitle {
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    min-height: 130px;
}

    .templateTitle h1 {
        height: auto;
    }

/* Carousel News */
.clearfix {
    float: none;
    clear: both;
}

.paginationNews {
    margin-top: 10px;
    margin-right: auto;
    text-align: center;
}

    .paginationNews a {
        margin: 0 5px;
        text-decoration: none;
        display: inline-block;
        background: #aaa;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 3px solid white;
    }

        .paginationNews a.selected {
            background: #0664a9;
        }

        .paginationNews a span {
            display: none;
        }

        .paginationNews a.selected {
            cursor: default;
        }

/* Changement des éléments de l'écran si on est entre 600 et 1100px */
@media screen and (min-width: 600px) and (max-width: 1100px) {

    h1 {
        font-size: 21px;
    }
}

/* Changement des éléments de l'écran si on est entre 400 et 600px */
@media screen and (min-width: 400px) and (max-width: 600px) {

    .titreNews {
        font-size: 14px;
    }

    .paginationNews a {
        margin: 0 4px;
        width: 19px;
        height: 19px;
    }

    .templateTitle h1 {
        font-size: 16px;
        margin: 0 0 5px 0;
    }

    .templateTitle .date {
        font-size: 12px;
    }

    .social, .keywords {
        display: none;
    }

    .social {
        text-align: center;
    }
}


/* Changement des éléments de l'écran si on est en dessous de 400px */
@media screen and (max-width: 400px) {

    .description {
        display: none;
    }

    .titreNews {
        font-size: 14px;
    }

    .date {
        display: none;
    }

    .paginationNews a {
        margin: 0 3px;
        width: 18px;
        height: 18px;
    }

    .templateTitle {
        min-height: 180px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

        .templateTitle h1 {
            font-size: 18px;
            text-align: center;
        }

        .templateTitle .date {
            font-size: 12px;
            text-align: center;
            display: block;
        }

        .templateTitle .image {
            margin: 0 50px;
        }

    .social, .keywords {
        display: none;
    }
}
