<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
    <httpHandlers>
      
    </httpHandlers>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Actualites" stopProcessing="true">
          <match url="^Actualites-([0-9]+)-(.*).aspx" />
          <action type="Rewrite" url="Actualites.aspx?Id={R:1}" />
        </rule>
        <rule name="Conferences" stopProcessing="true">
          <match url="^Conferences-([0-9]+)-(.*).aspx" />
          <action type="Rewrite" url="Conferences.aspx?Id={R:1}" />
        </rule>
        <rule name="Salons" stopProcessing="true">
          <match url="^Salons-([0-9]+)-(.*).aspx" />
          <action type="Rewrite" url="Salons.aspx?Id={R:1}" />
        </rule>
        <rule name="Membres" stopProcessing="true">
          <match url="^Membres-([0-9]+)-(.*).aspx" />
          <action type="Rewrite" url="Membres.aspx?Id={R:1}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      
    </handlers>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConferenceReader" />
        <binding name="BasicHttpBinding_ILienReader" />
        <binding name="BasicHttpBinding_IMembreReader" />
        <binding name="BasicHttpBinding_INewsReader" maxReceivedMessageSize="1000000" />
        <binding name="BasicHttpBinding_IProjetReader" />
        <binding name="BasicHttpBinding_IPubliciteReader" />
        <binding name="BasicHttpBinding_ISalonReader" />
        <binding name="BasicHttpBinding_IVilleReader" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConferenceReader"
        contract="ReadersService.IConferenceReader" name="BasicHttpBinding_IConferenceReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILienReader"
        contract="ReadersService.ILienReader" name="BasicHttpBinding_ILienReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembreReader"
        contract="ReadersService.IMembreReader" name="BasicHttpBinding_IMembreReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsReader"
        contract="ReadersService.INewsReader" name="BasicHttpBinding_INewsReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjetReader"
        contract="ReadersService.IProjetReader" name="BasicHttpBinding_IProjetReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPubliciteReader"
        contract="ReadersService.IPubliciteReader" name="BasicHttpBinding_IPubliciteReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalonReader"
        contract="ReadersService.ISalonReader" name="BasicHttpBinding_ISalonReader" />
      <endpoint address="http://www.epsilab.net/webservices/ReadersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVilleReader"
        contract="ReadersService.IVilleReader" name="BasicHttpBinding_IVilleReader" />
    </client>
  </system.serviceModel>
</configuration>