.campus {
    margin-bottom: 20px;
}

.listBureau, .listMembers {
    display: inline-block;
    vertical-align: top;
}

.titleListe {
    border-bottom: 2px solid lightgrey;
}

.titleCampus {
    color: #0664a9;
}

.blocMember {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    background: rgba(160, 160, 160, 0.1);
    color: black;
}

    .blocMember:hover {
        background: lightgrey;
        text-decoration: none;
    }

.photoMember {
    width: 75px;
    height: 75px;
}

.photoMember, .descMember {
    vertical-align: top;
    display: inline-block;
    margin: 2px 0 0 2px;
}

.nameMember {
    font-size: 14px;
    font-weight: bold;
}

.member {
    margin: 0;
    padding: 0;
}

#image {
    float: left;
    padding: 5px;
    margin-right: 10px;
}

#lastname_firstname {
    margin-left: 35px;
}

.image_social {
    float: left;
    margin-right: 10px;
}

#socialNetworks {
    margin-bottom: 80px;
}

.templateTitle {
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    min-height: 150px;
}

    .templateTitle h1 {
        height: auto;
    }


/* Changement des éléments de l'écran si on dépasse les 1100px */
@media screen and (min-width: 1100px) {
    .blocMember {
        width: 328px;
    }

    .listBureau {
        width: 326px;
        margin-right: 5px;
    }

    .listMembers {
        width: 661px;
    }
}

/* Changement des éléments de l'écran si on est entre 600 et 1100px */
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .blocMember {
        width: 248px;
    }

    .listBureau {
        width: 248px;
        margin-right: 5px;
    }

    .listMembers {
        width: 500px;
    }
}

/* Changement des éléments de l'écran si on est entre 400 et 600px */
@media screen and (min-width: 400px) and (max-width: 600px) {
    .blocMember, .listBureau, .listMembers {
        width: 100%;
    }
}

/* Changement des éléments de l'écran si on est en dessous de 400px */
@media screen and (max-width: 400px) {
    #lastname_firstname {
        margin: 0;
    }

    .templateTitle {
        min-height: 230px;
        text-align: center;
    }

        .templateTitle h1 {
            text-align: center;
            font-size: 22px;
        }

        .templateTitle #image {
            margin: 0 75px;
        }

    .blocMember, .listBureau, .listMembers {
        width: 100%;
    }

    .photoMember {
        display: block;
        margin: auto;
    }

    .blocMember {
        text-align: center;
    }

    .presentation {
        font-size: 12px;
    }

    .image_social {
        margin: 5px;
    }

    #socialNetworks {
        min-width: 400px;
    }
}
